body {
    /*-ms-touch-action: manipulation !important;*/
    -ms-touch-action: none !important;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/*.ui-dialog {*/
    /*z-index: 1000 !important ;*/
    /*-webkit-user-drag: auto !important;*/



    /*/!*[jgkim] 2015.03.09 disable all touch action for IE >>*!/*/
    /*-ms-touch-action: none !important;*/
    /*/!*<< [jgkim] 2015.03.09 disable all touch action for IE *!/*/
/*}*/

*:not(input):not(textarea) {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

/*#dialog {*/
    /*-webkit-user-drag: auto !important;*/
    /*-ms-touch-action: none !important;*/
/*}*/
