
/*==============================================
    공통되는 CSS를 정의한다.
=================================================*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body, html {
    font-size: 100%;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif', serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

}


.clearfix:before, .clearfix.after {content: " "; display: table;}
.clearfix:after {clear: both;}



body {
    background-color: #FDEADA;
    /*max-width: 1280px;*/
    min-width: 1024px;
    min-height: 500px;
    /*max-height: 1024px;*/
}

a {
    text-decoration: none;
    outline: none;
}


section {
    overflow-y: auto;
    /*max-height: 400px;*/
}

a:hover {
    color: #000
}

/*==============================================
    index.html 의 헤더 부분 CSS
=================================================*/

.container > header {
    width: 100%;
    margin: 0 auto;
    /*min-height: 100px;*/
    /*max-height: 100px;*/
    /*border: 1px red solid;*/
    /*height: 150px;*/
    /*background-image: url('../img/header_bg_tail.png');*/
    /*background-repeat: repeat-x;*/
}

.container > header > div {
    background-image: url('../img/header_bg.png');
    background-repeat: no-repeat;
    /*background-size: 100% 20px;*/
    /*background-size: 100%;*/
    /*border: 1px blue solid;*/
    /*min-height: 150px;*/
    /*max-height: 150px;*/
    /*height: 150px;*/
}

.container > header > div img {
    /*padding-top: 3em;*/
    /*width: 15%;*/
    /*height: 15%;*/
    cursor: pointer;
}


.container > header > span {
    display: block;
    position: relative;
    z-index: 999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.container > header nav {
    float: right;
    text-align: center;
}

.container > header nav a {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 5em;
    height: 3em;
    /*background-color: #fff;*/
    /*border-radius: 20px;*/
    margin: 0 0.1em;
    /*border: 4px solid #47a3da*/
}

.container > header nav a:nth-child(1) {
    background-image: url('../img/btn_help.png');
    background-repeat: no-repeat;
    /*background-size: 3.2em;*/
    min-height: 30px;
    float: left;
}

.container > header nav a:nth-child(2) {
    background-image: url('../img/btn_close.png');
    background-repeat: no-repeat;
    background-size: 5.2em;
    min-height: 30px;
    float: left;
}

.container > div ul li span {
    float: left;
}

.modalDialog {
    position: fixed;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif', serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(0,0,0,0.8);*/
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    /*padding: 5px 20px 13px 20px;*/
    border-radius: 10px;
    background: #fff;
}

.modalDialog div a img{
    width: 80%;
}

.modalDialog div img{
    width: 100%;
}

.close {
    position: absolute;
    right: -10px;
    text-align: center;
    top: -20px;
    width: 25%;
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close:hover { background:none; }

.column {
    float: left;
    width: 20%;

}

.column a img {
    width: 70%;
    height: 70%;
    border: none;
}