﻿

#certConfigBtn {
    width: 35px;
    background-repeat: no-repeat;
    float: right;
    display: block;
    margin-right: 15px;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    height: 2000px;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);

}

.space1 {
    width: 15%;
}

.modal {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    height: 40%;
    background: none;
    padding-top: 3%;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/

}
.modalTitle {
    text-align: left;
    height: 20px;
    font-size: 3em;
    color: #339AFE;
    font-weight: bolder;
}

#modalTitleLog {
    text-align: right;
}

.password {
    margin-top: 2em;
    margin-bottom: 2em;
}

#password {
    float: left;
    text-align: right;
}

#keyLog {
    width: 70%;
    height: 50px;
    line-height: 50px;
    border: none;
    font-size: 2.5em;
    float: none;
}

#identificationNo {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: none;
    font-size: 2.5em;
}

#resultLog {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 3.5em;
    text-align: center;
    color: #ffffff;
    margin-top: 1em;
}

#resultCert {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 2em;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

#space2 {
    height: 70px;
    display: block;
}

#space2Log {
    height: 70px;
    display: block;
}

.middleBtnDiv {
    /*height: 30%;*/
    height: 70px;
    /*background-color: red;*/
    text-align: center;
}
.middleBtn {
    /*width: 90%;*/
    /*height: 90%;*/
    padding-top: 10px; padding-left: 3%; padding-right: 3%;
    cursor: pointer;
    border: none;
}

#lowerArea {
    /*padding-top: 5%;*/
}
#lowerArea0 {
    width: 5%;
    height: 20px;
    float: left;
}
#lowerArea1 {
    width: 100%;
    height: 70%;
    text-align: left;
    float: left;
}
.lowerAreaText {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    color: #339AFE;
    margin-top: 1em;

}
#lowerArea2 {
    width: 15%;
    height: 100%;
    /*margin-top: 21%;*/
    float: left;
}
/*#lowerArea2 <div:first-child {*/
    /*height: 20%;*/
/*}*/
/*#lowerArea2 <div:nth-child(2) {*/
    /*height: 20%;*/
/*}*/
/*#lowerArea2 div {*/
    /*margin-top: -22%;*/
/*}*/
.lowerBtn {
    width: 70%;
    cursor: pointer;
    border: none;
}
#reinstall {

}
#close {
    display:block;
}

#footer {
    width: 70%;
    float: right;
    font-size: 12px;
    text-align: right;
    margin-top: -50px;
    padding-right: 3%;
    height: 10px;
    line-height: 10px;
}
